body{background-color:#ffffff;}

button
	{
		background-color: #3884b7;
		color: white;
		border:2px;
		padding: 5px;
		font-size:15px;
		font-family: Arial, sans-serif;
		font-weight: bold;
		letter-spacing: 1px;
	}

button:hover
{
	background-color: white;
	color: #111;
}
			
.section
{
	width:150px; 
	padding-top: 50px; 
	padding-bottom:50px;
}

.succes
{
	color:green;
	border:none;
	padding: 3px;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: Arial, sans-serif;
	margin-bottom: -20px;
}